@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">

            <h4>Contact your admin.</h4>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
